<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
EnterSomething to tweet
<form action="/postTweet" method="POST">

<input id="addText" type="text" name="text" placeholder="text">
<input id="postTweetButton" type="submit" value="TWEET">
  </    

</form>